
.body-form{
  background-color: #f0f0f0;
}

.list-st{
  list-style-type: disc;
}

.header-form {
    height: 56px;
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    .header-container {
       max-width: 1280px;
       padding: 0 0.5rem;
       margin: auto;
       display: flex;
       align-items: center;
       position: relative;
       height: 56px;
    }
 }
.links-new-posts{
    background-color: none;
    overflow: hidden;
    margin: 0.4rem;
    padding: 0.5rem 0.75rem;
    border-radius: $border-radius-1;
    text-decoration: none;
    color: black;
    &:hover {
      color: rgba($blue-700, 1);
      background-color: rgb(213, 226, 240 );
      cursor: pointer;
    }
}
.btn-styles{
    border: none;
    outline: none;
    background-color: none;
    padding: 5px;
    &:hover {
        color: rgb(13, 78, 148);
        background-color: rgb(213, 226, 240);
        cursor: pointer;
        border-radius: 5px;
        padding: 5px;

      }
}
.card-form-top{
  min-width: 500px;
  padding: $padding2;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  background-color: white;
}

.card-form-bot{
  min-width: 500px;
  padding: $padding2;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  background-color: white;
  max-height: fit-content;
}

.card-form-btn{
  min-width: 500px;
  border-left: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
}

.title-form{
  border: none;
  font-size: 30px;
  @include mukta-bold;
  margin-bottom: 5px;
  color: rgb(140, 141, 141);
  outline:none;
  &:hover {
    color: black;
  }
}
.input-tags{
  border: none;
  color: rgb(140, 141, 141);
  outline:none;
  &:hover {
    color: black;
  }
}

#labelContainer {
  display: inline-block;
  white-space: nowrap; /* Prevents labels from wrapping to the next line */
}

.label-style {
  display: inline-block;
  margin-right: 5px; /* Add space between labels */
  background-color: #e8e8e8;
  border: 1px solid #e8e8e8;
  margin-right: 2px;
  border-radius: $radius;
  padding-left: 10px; 
  padding-right: 10px; 
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(122, 122, 122);

}

.parrafo-form{
  @include noto-sans-mono;
  display: inline-block;
  border: none;
  max-width: 95%;
  min-width: 95%;
  max-height: 20vh;
  min-height: 20vh;
  text-align: start;
  outline:none;
  color: rgb(140, 141, 141);
  &:hover {
    color: black;
  }
}



.inputfile {
	width: 0.5px;
	height: 0.5px;
	
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.contenedor-btn-file input[type="file"] {
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.contenedor-btn-file {
  display: inline-block;
  position: relative;
  background-color: white;
  border-radius: $radius;
  color: rgb(112, 112, 112);
  min-width: 200px;
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  overflow: hidden;
  transition: ease-out 120ms background-color;
  padding: 5px;
}

.contenedor-btn-file:hover {
  cursor: pointer;
  border: 2px solid rgb(13, 78, 148);
}
.contenedor-btn-file:active {
  background-color: #114378;
}
.contenedor-btn-file > i {
  margin-right: 5px;
  margin-left: 5px;
}

.contenedor-btn-file label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 2px;
  cursor: pointer;
}

.contenedor-btn-avatar {
  display: inline-block;
  position: relative;
  background-color: white;
  border-radius: $radius;
  color: rgb(112, 112, 112);
  min-width: 50px;
  border: 2px solid #e8e8e8;
  border-radius: 8px;
  overflow: hidden;
  transition: ease-out 120ms background-color;
}

.contenedor-btn-avatar input[type="file"] {
  appearance: none;
  display: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.contenedor-btn-avatar:hover {
  cursor: pointer;
  border: 2px solid rgb(13, 78, 148);
}
.contenedor-btn-avatar:active {
  background-color: #114378;
}
.contenedor-btn-avatar > i {
  margin-right: 2px;
  margin-left: 2px;
}
.contenedor-btn-avatar label {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  cursor: pointer;
}